@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

.use-bebas {
  font-family: "Bebas Neue", sans-serif;
}

:root {
  --header-height: 65px;
  --announcement-bar-height: 34px;
  --marquee-height: 56px;
  --fooding-height: 85px;
  --scrolling-articles: 222px;
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 12px;
  --card_small: 26;
  --card_med: 33;
  --card_large: 45;
}

@media screen and (min-width: 640px) {
  :root {
    --fooding-height: 130px;
    --scrolling-articles: 275px;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.custom-text-class {
  position: absolute;
  bottom: 25%;
  left: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@layer base {
  h1 {
    @apply text-xl md:text-2xl lg:text-3xl font-bold;
  }
  h2 {
    @apply text-lg md:text-xl lg:text-2xl font-semibold;
  }
  h3 {
    @apply text-base md:text-lg lg:text-xl font-medium;
  }
  h4 {
    @apply text-base md:text-base lg:text-lg font-medium;
  }
  p {
    @apply text-base font-normal;
  }
}

.mid-pos {
  top: 50%;
}

.top-pos {
  top: 35%;
}

.custom-slider-btn {
  position: absolute;
  z-index: 100;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px black;
}

.custom-slider-btn.customarrow-left {
  left: 0px;
}

.custom-slider-btn.customarrow-right {
  right: 0px;
}

.custom_next,
.custom_prev {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 22px;
  height: 40px;
  background-color: white;
  border: solid 2px black;
}

.custom_next {
  right: 0px;
}
.custom_prev {
  left: 0px;
}

.custom_next.custom_hidden,
.custom_prev.custom_hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
  display: none;
}

.custom_next.custom_disabled,
.custom_prev.custom_disabled {
  /* opacity: 0.35; */
  cursor: auto;
  pointer-events: none;
  background-color: lightgray;
}

.text-hover:hover {
  @apply transition text-secondary duration-75 cursor-pointer;
}

.text-hover-light:hover {
  @apply transition text-white duration-100 cursor-pointer;
}

.img-hover:hover {
  @apply transition duration-75 cursor-pointer opacity-95;
}

.carousel-link-title {
  @apply flex gap-2 items-center text-2xl font-bold text-hover w-[fit-content] text-right min-w-[100px];
}

.custom-text-center {
  @apply text-left lg:text-center;
}

.customer-flex-center {
  @apply justify-start lg:justify-center;
}

.swiper button.custom_prev:disabled,
.swiper button.custom_next:disabled,
.swiper button.custom-slider-btn:disabled {
  cursor: not-allowed;
  background-color: lightgray;
}

.custom-pagination-bullet {
  @apply w-3 h-3 inline-block rounded-full bg-black opacity-40 transition-opacity duration-300 m-1 cursor-pointer;
}

.custom-pagination-bullet-active {
  @apply opacity-100 bg-primary;
}

:root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 12px;
  --card_small: 26;
  --card_med: 33;
  --card_large: 45;
  --wrapper_padding_x: 2rem;
  --wrapper_padding_y: 3rem;
  --header-height: 65px;
}

.pin_container {
  @apply m-auto py-0 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 auto-rows-pinterest_auto rounded-card_border_radius justify-center bg-transparent gap-x-4;
}
.card {
  @apply p-0 mb-3 rounded-card_border_radius bg-transparent;
}

.card:hover {
  transform: scale(1.009);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.card:active {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.card_small {
  @apply row-end-card_small;
}

.card_medium {
  @apply row-end-card_med;
}

.card_large {
  @apply row-end-card_large;
}
